<h1>Naujos kompanijos įkėlimas</h1>
<form method="post" action="/add-company">
    <p>
        <label>Kompanijos pavadinimas</label>
        <input type="text" name="name" value="" />
    </p>
    <p>
        <label>Kompanijos adresas</label>
        <input type="text" name="address" value="" />
    </p>
    <p><button type="submit">Įrašyti</button></p>
 </form>