  <div style="max-width: 330px; margin: auto;">

  <form>
    <h1 class="h3 mb-3 fw-normal">Prisijunkite</h1>

    <div class="mb-3 form-floating">
      <input type="email" name="email" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">El. pašto adresas</label>
    </div>
    <div class="mb-3 form-floating">
      <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Slaptažodis</label>
    </div>

    <button class="w-100 btn btn-lg btn-primary" type="submit">Prisijungti</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
  </form>

</div>